/* Set background color and margin for the entire body */
body {
    background-color: #597daa;
    margin: 0px;
}

/* Style the unordered list inside the navbar */
.navbar ul {
    list-style-type: none;
    background-color: rgb(70, 52, 143);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

/* Style the links inside the navbar */
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

/* Change link background color on hover */
.navbar a:hover {
    background-color: rgb(30, 13, 97);
}

/* Float the list items (links) to the left */
.navbar li {
    float: left;
}

/* Flex display for the reviews section */
.rev {
    display: flex;
}

/* Styling for the background of the reviews section */
.revbg {
    background-color: rgb(98, 26, 21);
    border: 2px solid;
    color: rgb(255, 255, 255);
    padding: 20px 20px;
}

/* Hide the element with class 'head' */
.head {
    display: none;
}

/* Styling for the background of the header */
.headsbg {
    background-color: rgb(19, 6, 73);
    border: 2px solid;
    color: rgb(255, 255, 255);
    border-radius: 100px 30px 100px 5px;
    box-shadow: 5px 5px 5px #828282;
}