body {
    font-family: Arial, sans-serif;
    background-color: #ce66bf;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px 40px; /* Increase padding on the right side */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#soundboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow-y: auto;
    max-height: 400px;
}

.sample {
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

.sample:nth-child(odd) {
    background-color: #BA68C8; /* Light purple */
}

.sample:nth-child(even) {
    background-color: #FFCDD2; /* Light pink */
}

.sample:hover {
    background-color: #9575CD; /* Darker purple on hover */
}

.audio-button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}

.audio-button:hover {
    text-decoration: none;
}

span.duration {
    font-size: 14px;
}

#text-to-speech {
    margin-top: 20px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#convert-button {
    background-color: #b92378;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#convert-button:hover {
    background-color: #b8568d;
}

#pagination {
    text-align: center;
    margin-top: 20px;
}

#pagination img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
    display: inline-block;
}

#left-arrow {
    display: none;
}

#right-arrow {
    display: inline-block;
}