h1{
    color: rgb(64, 10, 64);
    background-color:rgb(137, 137, 192);
    border-bottom: 2px dashed #191970;
}

h2{
    color: rgb(64, 10, 64);background-color:rgb(137, 137, 192);border-bottom: 2px dashed #191970;
}
